body {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#title {
    margin-top: -20px;
    flex-direction: column;
    line-height: 23px;
    margin-bottom: auto;
}

li {
    display: inline-block;
    margin: 15px;
}

a {
    color: rgb(173, 0, 0);
}

a:hover {
    color: rgb(173, 0, 0);
    transition: 0,3s all;
}

#inscreva-se-btn {
    border: 2px solid rgb(173, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: rgb(51, 51, 51);
    color: white;
}

h1 {
    font-weight: 200px;
    color: rgb(173, 0, 0);

}

main {
    display: flex;
    flex-direction: row;

}

h2 {
    padding-top: 50px;
    font-size: 56px;
    line-height: 50px;
    font-family: poppinsregular;

}

span {
    color: rgb(255, 255, 255);
}

p{
    line-height: 20px;
}

img {
    width: 580px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(173, 0, 0);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer; 
    }   
    input {
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

ul {
    float: left;
    width: 100%;
    position: absolute;
    top: 1vh;
    width: 500px;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
}